@(uname:String)


<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/2.1.1/jquery.js"></script>
<div class="settingoptions">
<button id="logout" onclick="logout()">Logout</button>
<button id="mainmenu" onclick="menu()">Menu</button>
</div>
<div id="settings">
    Welcome, @uname <br>
</div>
<h1 style="text-align: left; margin-left: 38%;">Data Practice</h1>
<p class="indent"></p>
<div class = "control-panel">
<div class="control-area">
<label id="select-struct">New Structure</label>
<div class="dropdown">
  <button class="dropbtn" id="structurebutton">Structure</button>
  <div class="dropdown-content">
    <a id="stack">Stack</a>
    <a id="queue">Queue</a>
    <a id="bst">BST</a>
    <a id="pq">PQ</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn" id="listbutton">List</button>
  <div class="dropdown-content">
    <a id="slinked">Singly Linked</a>
    <a id="dlinked">Doubly Linked</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn" id="createbutton">Create</button>
</div>
</div>

<div class="save-area" style="color:white">
  File Name:
  <input type="text" id="filename">
  <button id="savebutton">Save</button>
</div>
</div>
<div class=center>
  <input type="text" name="push" class="method" id="newnode">
  <button type="button" class="method" id="push">Push</button>
  <input type="text" name="pop" class="method" id="oldnode" style="display:none">
  <button type="button" class="method" id="pop">Pop</button>
  <button class="method" id="clear">Clear</button>
</div>
<canvas id="canv" width="900" height="500" style="border:1px solid white;
background-color: white"></canvas>
</html>