@(practicePages:Seq[Tables.TestRow])

<table id = 'testPageTable' align='center'>
    <thead>
        <tr>
          <td>Page Number</td>
          <td>Test Page Name</td>
          <td></td>
        </tr>
    </thead>
<tbody>
@for(i <- 0 until practicePages.length) {
	<tr>
        <td >
          @i
        </td>
        <td>
          @practicePages(i).info
        </td>
        <td >
           @if(practicePages(i).completed == 'F') {Failed }else{ Passed}
        </td>
      </tr>
  }
      </table>
